div {
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: black;
    line-height: 120%;
    background-color: white;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background-color: #31c109;  
    padding: 10px;
    width: 350px;
}

/* name */
h1 {
    font-size: 3.8em;
    width: 350px;
    /*padding: 20px;*/
    line-height: 100%;
    color:#eef701;
    background-color: #fc8aee;
}

/* section headers */
h2 {
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 0px;
}

/* project titles */
h3 {
    font-size: 1.2em;
    margin-top: 50px;
    margin-bottom: 0px;    
    font-style: normal;
    background-color: #d3ef00;
    color: black;
    width: auto;
    min-width: 350px;
    display: inline-block;
}

/* small sections */
h4 {
    background: none;
    font-size: 1.2em;
    padding: 0;
    margin-bottom: 0;
}

/* menu */
h5 {
    background: none;
    font-size: 1.5em;
    font-weight: 300;
    padding: 0;
    margin-bottom: 0;
}

a {
    color: #222;
    text-decoration: underline;
    transition: 0.25s;
}
    
    a:hover { color: #ff00e9; }

ul {
    list-style-type: disc;
    padding: 0;
    list-style-position: inside;
}

div#container {
    position: relative;
    margin: auto;
    max-width: 1024px;
    padding: 30px;
    z-index: 10;    
    margin-bottom: 0px;
    margin-top: 15px;
}

div#decorationright {
    top:-2;
    right:0;
    position: fixed;
    height: 300px;
    width: 300px;
    z-index: 0;
    pointer-events: none;
    background: url('images/web_sidekick_pinkright.png') top right no-repeat;
}

div#decorationleft {
    top:0;
    left:0;
    position: fixed;
    height: 300px;
    width: 300px;
    z-index: 10;
    pointer-events: none;
    background: url('images/web_sidekick_pinkleft.png') top left no-repeat;
}

hr {
    margin-top: 100px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

img {
    display: block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}

strong {
    font-weight: 400;
}

.exhibition {
    font-weight: 400;
    color: #db00ae;
    font-style: normal;
}

.es {
    color: grey;
}

.en {
    color: black;
}

.news {
    line-height: 150%;
}

/* CAROUSEL STYLING */

.carousel:hover {
    cursor: pointer;
}

.slick-prev, .slick-next {
    position: absolute;
    background: none;
    /*background-color: blue;*/
    /*display: none;*/
    border: none;
}

.slick-slide img {
    display: block; 
}

ul.slick-dots {
    margin-top: -50px;
    margin-bottom: 40px;
    width: 100%;
    display: table;
    /*background-color: orange;*/
}

    ul.slick-dots button {
        font-size: 0;
        height: 5px;
        background: #ddd;
        border: none;
        padding: 0;
        outline: none;
        transition: 0.25s;
    }

    ul.slick-dots button:hover { background: #ff00e9; cursor: pointer; border: none; }

    ul.slick-dots li {
        display: inline;
        display: table-cell;
    }

        ul.slick-dots li button {
            width: 100%;
        }

li.slick-active button {
    background: #ff00e9;
    border: none;
}